*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
    font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: var(--milk);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

:root {
    --milk: #FAF5EF;
    --dark: #222120;
    --smooth: all .3s ease-in-out;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

/* header */

.header {
    background-color: var(--dark);
}

.header .container {
    background-color: var(--dark);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header__navbar--links {
    max-width: 440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__navbar li a {
    font-size: 18px;
    font-weight: 400;
    opacity: .6;
    transition: var(--smooth);
}

.header__navbar li a:hover {
    opacity: 1;
}

.header__navbar h5 {
    font-family: 'Prata', serif;
    font-size: 24px;
}

.header__navbar h5 a {
    text-decoration: underline;
}

/* menu button */

.header__navbar--icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
}
  
.header__navbar--icon {
    width: 23px;
    height: 6px;
    background-color: var(--milk);
    transition: var(--smooth);
    position: relative;
  }
  
.header__navbar--icon:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 6px;
    background-color: var(--milk);
    transition: var(--smooth);
}
  
.header__navbar--icon:before {
    transform: translateY(-12px);
}

/* line */

.header__lines {
    width: 100%;
    /* margin-bottom: 100px; */
}

.header__line {
    width: 100%;
    height: 1px;
    background-color: #FAFAFA;
    opacity: 1;
    position: relative;
}

.header__line::before,
.header__line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #FAFAFA;
    opacity: 0.7;
}

.header__line::after {
    transform: translateY(5px);
}

.header__line::before {
    transform: translateY(-5px);
}

/* banner */

#banner {
    background-color: var(--dark);
}

#banner .container {
    background-color: var(--dark);
}

#banner .wrapper {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.banner__heading {
    max-width: 730px;
    width: 100%;
}

.banner__heading h1 {
    font-size: 82px;
    font-family: 'Prata', serif;
    line-height: 83px;
}

.banner__heading .heading-1 {
    display: block;
    margin-left: 130px;
}

.banner__heading .heading-2 {
    display: block;
    margin-left: 130px;
}

.banner__image {
    margin-left: 20px;
}

.banner__heading--body {
    display: block;
    float: right;
    margin-right: 110px;
}

/* bannner-line */

.banner-lines {
    margin-top: 65px;
    max-width: 400px;
    width: 100%;
}

.banner-line {
    width: 100%;
    height: 1px;
    background-color: #FAFAFA;
    opacity: 1;
}

.banner-line:nth-child(1),
.banner-line:nth-child(3) {
    max-width: 330px;
    width: 100%;
    opacity: 0.5;
    margin: 0 auto;
}

.banner-line:nth-child(1) {
    margin-bottom: 10px;
}

.banner-line:nth-child(3) {
    margin-top: 10px;
}

.banner__heading p {
    margin-top: 45px;
    max-width: 400px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    opacity: .6;
}

.banner__dec img {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
}

/* remember */

#remember .wrapper {
    margin-top: 250px;
    color: var(--dark);
}

.remember__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember__heading h1 {
    font-size: 70px;
    font-family: 'Prata', serif;
    max-width: 390px;
    width: 100%;
    line-height: 76px;
}

.remember__heading p {
    font-size: 24px;
    line-height: 34px;
    max-width: 640px;
    width: 100%;
    opacity: .7;
}

.remember__body {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember__body--item-2 img {
    margin-top: 130px;
    margin-bottom: 40px;
}

.items--lines {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.items--line {
    width: 100%;
    height: 2px;
    background-color: var(--dark);
    opacity: 1;
}

.items--line:nth-child(1),
.items--line:nth-child(3) {
    max-width: 338px;
    width: 100%;
    opacity: .6;
    margin: 0 auto;
}

.items--line:nth-child(1) {
    margin-bottom: 10px;
}

.items--line:nth-child(3) {
    margin-top: 10px;
}

.remember__body--item-2 h2 {
    margin-top: 40px;
    max-width: 515px;
    width: 100%;
    font-family: "Prata", serif;
    font-size: 52px;
    line-height: 61px;
}

.remember__lines {
    width: 100%;
}

.remember__line {
    width: 100%;
    height: 2px;
    background-color: var(--dark);
    opacity: 1;
    position: relative;
}

.remember__line::before,
.remember__line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--dark);
    opacity: 0.7;
}

.remember__line::after {
    transform: translateY(10px);
}

.remember__line::before {
    transform: translateY(-10px);
}

.projects__heading {
    margin-top: 100px;
    color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects__heading h1 {
    font-size: 70px;
    font-family: 'Prata', serif;
    line-height: 76px;
}

.projects__heading p {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Prata', serif;
}

.projects__heading p a {
    text-decoration: underline;
}

.projects__img {
    margin-top: 80px;
    position: relative;
}

.projects__img .wrapper h2 {
    position: absolute;
    bottom: 0;
    transform: translateY(-200%);
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
}

.projects__img .wrapper p {
    position: absolute;
    bottom: 0;
    transform: translateY(-250%);
    font-size: 24px;
    line-height: 34px;
    font-family: 'Prata', serif;
}

.projects__img .wrapper p a {
    text-decoration: underline;
}

/* designers */

#designers {
    background-color: var(--dark);
}

#designers .container {
    background-color: var(--dark);
}

#designers .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
}

.designers__heading h1{
    font-family: 'Prata', serif;
    font-size: 70px;
    margin-bottom: 30px;
}

.designers__heading p {
    font-size: 24px;
    line-height: 34px;
    opacity: .5;
    margin-bottom: 25px;
    max-width: 616px;
    width: 100%;
}

.designers__heading a {
    margin-top: 15px;
    font-family: 'Prata', serif;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}

/* articles */

.articles__heading {
    margin-top: 180px;
    color: var(--dark);
    text-align: center;
}

.articles__heading h1 {
    font-size: 70px;
    font-family: 'Prata', serif;
}

.articles__heading a {
    font-family: 'Prata', serif;
    margin-top: 50px;
    text-decoration: underline;
}

.articles__body {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark);
}

.articles__body--item-1 h3,
.articles__body--item-2 h3 {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 30px;
    font-family: 'Prata', serif;
}

.articles__item--line {
    width: 100%;
    height: 2px;
    background-color: var(--dark);
    opacity: .5;
}

.articles__body--footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 535px;
    width: 100%;
    margin-bottom: 180px;
}

.articles__body--footer a {
    font-family: 'Prata', serif;
    font-size: 18px;
    text-decoration: underline;
}

.articles__body--footer p {
    opacity: .5;
}

.footer .container {
    background-color: var(--dark);
}

.button__footer {
    padding-top: 90px;
    text-align: center;
    color: var(--milk);
    font-family: 'Prata', serif;
}

.button__footer a {
    font-size: 24px;
    opacity: .5;
}

/* footer */

.footer {
    background-color: var(--dark);
}

.footer__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__body--item-1 h2 {
    font-size: 30px;
    font-family: 'Prata', serif;
    margin-bottom: 70px;
}

.footer__body--item-1 li{
    list-style: circle;
}

.footer__body--item-1 li {
    font-size: 30px;
}

.footer__body--item-1 li span {
    font-family: 'Prata', serif;
    font-size: 60px;
    opacity: 0.5;
}

.footer__footer {
    margin-top: 150px;
}

.footer__footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__footer li p {
    font-size: 24px;
    opacity: .5;
}